{{ define "main" }}

<section class="py-16 md:py-24">
  <div class="container mx-auto px-4 md:px-8 lg:px-16">
    <h1 class="text-4xl md:text-5xl  mb-16">{{ .Title }}</h1>

    {{ partial "categoryfilter" . }}

    <div class="max-w-4xl mx-auto">
      {{ with .Content }}
      <div class="prose prose-lg mb-12">
        {{ . }}
      </div>
      {{ end }}

      <div class="space-y-8">
        {{ range .Pages }}
          {{ partial "pagecard" .}}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}
